{{# partial "titulo" }}
    <title>Listado de compras realizadas</title>
{{/partial}}
{{# partial "contenido" }}
        <h3>Compras realizadas</h3>

        <!--<form action="/consultoras" method="GET">
            Buscar por username
            <input type="text" name="filtro" placeholder="Ingrese el username de la consultora a buscar">

            <input type="submit" value="Buscar">
        </form>-->
        {{# if compras}}
            <table>
                <tr>
                    <th>Fecha</th>
                    <th>Entidad</th>
                    <th>Etiqueta</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
            {{#each compras}}
                    <tr>
                        <td>{{fechaCompra}}</td>
                        <td>{{entidad.nombreFicticio}} </td>
                        <td>{{etiquetaEgreso.nombre}} </td>
                        <td><button type="button" class="btn_info" onclick="location.href='/compras/{{id}}'">
                            Ver Compra
                        </button>
                        </td>
                    </tr>
            {{/each}}
            </table>
        {{/if}}

{{/partial}}

{{> layout.html.hbs }}
