{{# partial "titulo" }}
    <title>Detalle de la Compra</title>
{{/partial}}
{{# partial "contenido" }}
    <form style="display: inline; justify-content: center; align-items: center;" action="/compras" method="POST">
        <fieldset>
            <legend>Presupuesto</legend>
        </fieldset>
    </form>
{{/partial}}

{{> layout.html.hbs }}