{{# partial "titulo" }}
    <title>Detalle de la Compra</title>
{{/partial}}
{{# partial "contenido" }}
    <!--    TODO: LAYOUT MINI DETALLE DE LA COMPRA -->

    <form  action="/compras/{{compra.id}}/usuario" method="POST">
<!--        TODO: FORMULARIO DE USUARIO REVISOR-->
    </form>
{{/partial}}

{{> layout.html.hbs }}