<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    {{# block "titulo" }}
    {{/block}}
</head>

<body>
<nav>
    <a href="/">Home</a>
    <a href="/compras">Listado de compras</a>
    <a href="/compras/nuevo">Nueva compra</a>
    <a href="/login">Cerrar Sesión</a>
</nav>
<main>
    <h1>GeSoc</h1>
    {{# block "contenido" }}
    {{/block}}
</main>
<br>
<footer id="footer" class="fondo-gris">
    &copy; Copyright 2020 DDS-Grupo 4
</footer>
</body>

</html>
