<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body style="text-align: center;">
<main>
    <h1>GeSoc</h1>
    <h3>Gestión de Proyectos Sociales</h3>

    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="border: 1px solid silver; padding: 5%;">
            <h3>Iniciar Sesión</h3>
            <div style="padding:3%">
                <input placeholder="Usuario" id="userName" type="text">
            </div>
            <div style="padding:3%">
                <input placeholder="Contrase&#241a" id="password" type="password">
            </div>
            <div>
                <button>Ingresar</button>
            </div>
        </div>
    </div>
</main>
<footer>
    &copy; Copyright 2020 DDS-Grupo 4
</footer>
</body>

</html>