<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body style="text-align: center;">
<main>
    <h1>GeSoc</h1>
    <h3>Gestión de Proyectos Sociales</h3>

    <div class="container">
        <form style="border: 1px solid silver; padding: 5%;" action="/" method="GET">
            <h3>Iniciar Sesión</h3>
            <div class="separated_inputs">
                <input placeholder="Usuario" id="userName" type="text">
            </div>
            <div class="separated_inputs">
                <input placeholder="Contrase&#241a" id="password" type="password">
            </div>
            <div>
                <button class="btn_action" style="margin-top:36%; width:100%; padding:5%">Ingresar</button>
            </div>
        </form>
    </div>
</main>
<footer id="footer">
    &copy; Copyright 2020 DDS-Grupo 4
</footer>
</body>

</html>