{{# partial "titulo" }}
    <title>Ingresar Nueva Compra</title>
{{/partial}}
{{# partial "contenido" }}
    <form class="form">
        <div class="container">
            <fieldset >
                <legend >Datos centrales de la compra</legend>
                <div>
                    <span class="label-form">
                        <label for="fechaCompra">Fecha:</label>
                    </span>
                    <span class="input-form">
                        <input type="date" placeholder="Fecha" name="fechaCompra" value="{{fechaCompra}}" >
                    </span>
                </div>

                <div>
                    <span class="label-form">
                        <label for="entidad">Entidad</label>

                    </span>
                    <span class="input-form">
                       <select id="entidad" name="entidad">
                                  <option value="0" disabled selected>Seleccione Entidad...</option>
                                  <option value="1">Entidad 1</option>
								  <option value="2">Entidad 2</option>
                                  <option value="3">Entidad 3</option>
                       </select>
                    </span>
                </div>

                <div>
                    <span>
                        <label for="proveedor">Proveedor</label>
                    </span>
                    <span>
                        <select>
                            {{#each proveedores}}
                                <option value="{{@key}}" {{{isSelected ../setProveedores @key}}}>
                                    {{this}}
                                </option>
                            {{/each}}
                        </select>
                    <!--    <select name="proveedor" id="proveedor" >
                        <option disabled selected>Seleccione Proveedor...</option>
                        <option value="1">Proveedor 1</option>
                        <option value="2">Proveedor 2</option>
                        <option value="3">Proveedor 3</option>
                    </select>-->
                    </span>

                </div>
                <div>
                    <span>
                        <label for="etiqueta">Etiqueta</label>
                    </span>
                    <span>
                        <select name="etiqueta">
                        <option disabled selected>Seleccione Etiqueta...</option>
                        <option value="1">Etiqueta 1</option>
                        <option value="2">Etiqueta 2</option>
                        <option value="3">Etiqueta 3</option>
                    </select>
                    </span>

                </div>
                <div>
                    <span>
                        <label for="moneda">Moneda</label>
                    </span>
                    <span>
                        <select name="moneda">
								<option disabled selected>Seleccione Moneda...</option>
								<option value="1">Moneda 1</option>
								<option value="2">Moneda 2</option>
								<option value="3">Moneda 3</option>
						  </select>
                    </span>
                </div>

            </fieldset>

    </form>

{{/partial}}

{{> layout.html.hbs }}